<h1 style="text-align: center;">Welcome {{userName}}.</h1>
<div class="container">
<h1>Basic Info and History</h1>
<p>KV ToDo application is a web-based task management application. It allows users to manage their tasks from computer.
Kv ToDo was first launched as a preview with basic features in April 2019. Later more features were added including Task updation and deletion in June 2018.
  In June 2020, a major update to the app was unveiled, adopting a new user interface with a closer resemblance to Memo app. The name was also slightly updated by removing the hyphen from To-Do.
  </p>
<br>
<h1>What's New</h1>
<ul>
  <li>NEW! Userfriendly and Optimized User interface.</li>
  <li>NEW! List Icons.</li>
  <li>NEW! Powerful Quick Menu.</li>
  <li>Delete Tasks.</li>
  <li>Update Tasks.</li>
  <li>Passcode Protection.</li>
</ul>
</div>
<br>
<div class="container" style="text-align: center;">
 <h3>To Manage all the Todo's <a routerLink="/todos">Click here</a></h3>
</div>
